{#------------------------------------------------------------------------------------------------------#}
{# Breadcrumb Nav                                                                                       #}
{# --------------                                                                                       #}
{# Baut die klassische Breadcrumb-Navigation auf, je Button, eine Stufe zurück.                         #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Breadcrumb -->
    <div class="container-fluid bg-light py-0">
        <div class="container mb-2">
            <a href="/" class="btn btn-primary" style="box-shadow: 0px 15px 15px rgba(0,0,0,0.2);">home</a>

            {% for path in current_page.id|split('/',-1) %}
                {% set tmp = [tmp,path]|join('/') %}
                <a href="{{ tmp }}" class="btn btn-primary" style="box-shadow: 0px 15px 15px rgba(0,0,0,0.2);">{{ path }}</a>
            {% endfor %}

        </div>
    </div>
<!-- Breadcrumb -->
