{#------------------------------------------------------------------------------------------------------#}
{# Heading, Titel des Blog                                                                              #}
{# -----------------------                                                                              #}
{# Baut eine Kopfzeile mit dem Titel des Blog aus der config.yaml auf.                                  #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Heading -->
    <div class="container-fluid bg-primary py-3 text-light">
        <div class="container">
            <h1><a href="/" class="text-light fw-bold">{{site_title}}</a></h1>
        </div>
    </div>